quiz {
  counter-reset: contador;
  font-family: Georgia;
  background-image: url(pytaxo.png);
  background-repeat:no-repeat; 
  background-size: 20%;
  background-position: 90% 10%;*/
  /*background-position: bottom right;*/
  text-align:left;
  margin-left: 12pt;
}

opciones{
  display: block; 
  counter-reset: contadorCodigo;
}

quiz question questiontext text:before {
  content: counter(contadorCodigo, upper-roman) ". ";
  counter-increment: contadorCodigo;

}

quiz question questiontext text{
    mode: literal;
    display: block; 
    background: none repeat scroll 0 0 #F3F5F7;
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    letter-spacing: normal;
    margin: 1em auto 2em 0;
    max-width: 60%;
    min-width: 50%;
    overflow: auto;
    padding: 0.5em 0.1em 0.5em 1em;
    text-transform: none;
    white-space: pre-wrap;
    word-spacing: normal;
    font-family: "Ubuntu Mono","Droid Sans Mono",Inconsolata,Courier,monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    word-wrap: break-word;
}

generalfeedback:hover > comentario{
  display: block;
}

generalfeedback:hover{
  visibility: visible;
}

generalfeedback:before {
  content: "Traza\A ";
  color:blue;
  text-decoration: underline;
  font-size: 14pt;
  white-space: pre;
  visibility: visible;
}

generalfeedback{
    visibility: hidden;
    display: block;
    background: none repeat scroll 0 0 #F3F5F7;
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    letter-spacing: normal;
    margin: 1em auto 2em 0;
    max-width: 60%;
    min-width: 50%;
    overflow: auto;
    padding: 0.5em 0.1em 0.5em 1em;
    text-transform: none;
    white-space: pre-wrap;
    word-spacing: normal;
}

answer feedback:hover{
  visibility: visible;
}

answer feedback:before {
  content: "Solución\A ";
  text-decoration: underline;
  font-size: 12pt;
  color:blue;
  white-space: pre;
  visibility: visible;
}

answer feedback{
    visibility: hidden;
    display: block;
    background: none repeat scroll 0 0 #F3F5F7;
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    letter-spacing: normal;
    margin: 1em auto 2em 0;
    max-width: 60%;
    min-width: 50%;
    /*overflow: auto;*/
    padding: 0.5em 0.1em 0.5em 1em;
    text-transform: none;
    white-space: pre-wrap;
    word-spacing: normal;
}

definiciones{
  counter-reset: contadorDefiniciones;
  padding-top: 12pt;
  padding-bottom: 12pt;
  margin-bottom: 14pt;
  border: solid 1px;
  border-radius: 20px;
  display: inline-block;
  position: relative; 
  height: 100%; 
  width: 400px; 
  background-color: #E6E627;
}

definicion:before {
  content: counter(contadorDefiniciones, upper-roman) ". ";
  counter-increment: contadorDefiniciones;

}

terminos{
  counter-reset: contadorDefiniciones;
  padding-left: 12pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  margin-bottom: 14pt;
  margin-left: 80px;
  border: solid 1px;
  border-radius: 20px;
  display: inline-block;
  position: absolute;  
  width: 300px; 
  background-color: #E6E627;
}

posiblePar:before {
  content: counter(contadorDefiniciones, upper) " . ";
  counter-increment: contadorDefiniciones;
}

posiblePar:after {
  content: "\A ";
  white-space: pre;
}

definicion{
  display: block;
  margin-left: 25px;
  font-size: 12pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

answer:before {
  content: counter(contador, upper-alpha) ". ";
  counter-increment: contador;
}

answer[tipo=solucion]:hover {
  background-color: red;
  font-style:italic;
}

answer{
  display: block;
  min-width: 50%;
  background-color: transparent;
  padding-left: 4pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  border: solid 1px;
  border-radius: 20px;
  width: 400px;
  margin-left: 25px;
  font-size: 12pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

comentario {
	display: none;
  /*display: block;*/
  background-color: transparent;
  padding-left: 2pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  border: solid 1px;
  width: 400px;
  margin-left: 25px;
  font-size: 12pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
  text-align: left;
}

comentario::before {
    content: "Comentario: ";
}

answer:hover > comentario {
    display: block;
    margin-left: 25px;
}

answer:hover:after{
	margin-left: 25px;
	content:"[Tipo]: "attr(tipo) "\A    [Id]: "attr(id) "\A    [Puntaje]: "attr(puntaje);
}

quiz question name text{
  content: "Solución\A ";
  white-space: pre;
  margin-top: 12pt;
  display: block;
  font-size: 12pt;
  margin-bottom: 14pt;
}

/*opt:literal{

}*/
/*quiz question questiontext text {
  opt:literal
	margin-top: 12pt;
	display: block;
	font-size: 14pt;
	margin-bottom: 14pt;
}*/